body{
	font-style: sans-serif;
	margin: 0 auto;
	padding: 5px;
	background-color: #F8F7F6;
	/*height: 100%;*/
}
.navbar{
	background-color: #f0f0f0;
	margin-top: -5px;
}
.container-fluid{
	margin-left: 300px;
}

.main{
	padding: 10px;
	margin: 0 auto;

	.reg{
		padding: 10px;
		width: 500px;
		min-height: 450px;
		background: #f0f0f0;
		margin: 0 auto;
	    margin-top: 80px;
		box-shadow: 10px 10px 5px #888888;
		border-radius: 2px;
		input{
			//border: none;
			width: 300px;
			height: 40px;
			margin-top: 20px;
		}
		button{
			width: 250px;
			height: 40px;
			background-color: #009688 ;
		}
		h1{
			text-align: center;
			color:  #009688;
		}	
	}
	
}
.items{
	h1{
	color:#009688;
	text-align: center;
	}
	.blocks{
		width: 1250px;
		height: 503px;
		/*background-color: lightblue;*/
		background-color: #f0f0f0;

		margin: 0 auto;
		.black{
			width: 400px;
			height: 100px;
			background-color: black;
			position: absolute;
			opacity: 0.6;
			margin-top: 410px;
			}
		.black:hover{
			opacity: 0.9;
		}
			
		p{
			font-size:50px;
			color: white;
			font-family: sans-serif;
			position: absolute;
			margin-top: 410px;
			margin-left: 130px;
		}

		.woman{
			width: 400px;
			height: 500px;
			background-color: lightgreen;
			display: inline-block;
			float: left;
			margin-left: 15px;

		}
		.man{
			width: 400px;
			height: 500px;
			background-color: pink;
			display: inline-block;
			margin-left: 25px;
			background-image: url("man.jpg");


		}
		.kids{
			width: 400px;
			height: 500px;
			background-color: lightyellow;
			display: inline-block;
			float: right;
			background-image: url("kids.jpg");
		}
	}
}



.products{
	width: 1300px;
	height: 600px;
	background-color: lightblue;
	margin: 0 auto;

	.leftNavbar{
		width: 300px;
		height: 600px;
		background-color: lightgreen;
		display: inline-block;
		float: left;
	}
	.prod{
		width: 1000px;
		min-height: 600px;
		background-color: #f0f0f0;;
		display: inline-block;
		float: right;
		.prod-nav{
			p{
				font-size: 30px;
				color: #009688;
				margin-top: 20px;
				margin-left: 20px;
			}
			hr{
				margin-top: -10px;
			}
		}
	}
	.oneItem{
		width: 233px;
		height: 350px;
		background-color: white;
		margin:20px;
		/*border: solid 1px;*/
		display: inline-block;
		img{
			width: 230px;
			height: 300px;
		}
		p{
			margin-left: 20px;
		}

		span{
			margin-top: -30px;
			float: right;
			margin-right: 15px;
			color: #aaa;

		}
	}
}

.res{
	margin: 0 auto;
	padding: 5px;
	width: 1100px;
	min-height: 600px;
	#info{
		img{
			width: 400px;
			height: 400px;
		}
	}
}

