<div class="cart">

	<h1>Shopping Cart</h1>
	<!-- <p ng-repeat="c in cart">{{ c }}</p> -->
		<div class="oneItem" ng-repeat='c in cart'>
			<a href=""><img src="images/{{ c.img }}"></a>
			<p>{{ c.price | currency }}</p>
			<p>{{ c.name }}</p><span>/{{ c.desc }}</span>
		</div>
		<h2>{{ total | currency }}</h2>

</div>


<!-- <div class="products">
	<div class="leftNavbar"></div>

	<div class="prod">

		<div class="prod-nav">
			<a href="#/"><p>Nice clothes</p></a>
			<hr>
		</div>

		<div class="oneItem" ng-repeat='good in goods'>
			<a href=""><img src="images/{{ good.img }}"></a>
			<p>{{ good.price | currency }}</p>
			<p>{{ good.goodName }}</p><span>/{{ good.goodDescr }}</span>
            <input type="submit" value="Add to Cart" ng-click='checkItem(good.id-1)' class="add">
		</div>

	</div>

</div> -->