<div class="products">
	<div class="leftNavbar"></div>

	<div class="prod">
		<div class="prod-nav">
			<p>Woman clothes</p>
			<hr>
		</div>
		<div class="oneItem">
			<img src="images/dress.jpg">
			<p>500$</p>
			<p>Odji</p><span>/dress</span>
		</div>

		<div class="oneItem">
			<img src="images/clothes1.jpg">
			<p>500$</p>
			<p>Odji</p><span>/dress</span>
		</div>

		<div class="oneItem">
			<img src="images/clothes1.jpg">
			<p>500$</p>
			<p>Odji</p><span>/dress</span>
		</div>

	</div>

</div>